@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  align-self: center;
}

.App-intro {
  font-size: large;
}

.screen-container{
  display: flex;
  width: 100vw;
}

.battle-screen-container{
  background-image: url("battle-scene.png");
  background-size: cover;
  flex-grow: 4;
}


.main-screen {
  display: flex;
  background: #F5F5F5;
  height: 100vh;
}

.welcome-msg{
  position: relative;
  width: 200px;
  height: 50px;
  left: 30%;
}

.sub-screen{
  position: absolute;
  right: 9%;
  bottom: 10%;
}

.greeting-msg{
  position: absolute;
  top:10%;
  left: 23%;
  width: 50%;
}

.course-msg{
  position: absolute;
  top:10%;
  left: 39%;
  width: 50%; 
  color: #3f51b5;
}

.play-btn{
  position: absolute;
  bottom: 3px;
  left: 1000px;
  width: 250px;
  height: 80px;
  background: #BA55D3;
  color: white;
  border-radius: 10px;
  border-style: none;
  font-size: 2rem;
}

.play-btn:hover{
  position: absolute;
  bottom: 3px;
  left: 1000px;
  width: 250px;
  height: 80px;
  background: green;
  color: white;
  border-radius: 10px;
  border-style: none;
  font-size: 2rem;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.vh-90 { height: 90vh; }
.vh-10 { height: 10vh; }
