.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  align-self: center;
}

.App-intro {
  font-size: large;
}

.screen-container{
  background-color: grey;
}

.main-screen {
  display: flex;
  background: grey;
  height: 100vh;
}

.welcome-msg{
  position: relative;
  width: 200px;
  height: 50px;
  left: 30%;
}

.sub-screen{
  position: absolute;
  right: 9%;
  bottom: 10%;
}

.play-btn{
  position: absolute;
  bottom: 12%;
  right: 15%;
  width: 250px;
  height: 80px;
  background: #BA55D3;
  color: white;
  border-radius: 10px;
  border-style: none;
}

.play-btn:hover{
  position: absolute;
  bottom: 12%;
  right: 15%;
  width: 250px;
  height: 80px;
  background: green;
  color: white;
  border-radius: 10px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
