.question-info{
    position: relative;
    right: 30%;
}

.question-info h1{
    position: relative;
    left: 4%;
    color:red;
}

button{
    height: 50px;
    width: 400px;
    border-radius: 25px;
    background: none;
    margin: 20px;
    color: white;
}

button:hover{
    height: 50px;
    width: 400px;
    border-radius: 25px;
    background: green;
    margin: 20px;
    color: white;
}

.answer-btn{
    height: 50px;
    width: 400px;
    border-radius: 25px;
    background: none;
    margin: 20px;
    color: white;   
}

.answer-btn:hover{
    height: 50px;
    width: 400px;
    border-radius: 25px;
    background: green;
    margin: 20px;
    color: white;    
}