button{
    height: 100px;
    width: 400px;
    border-radius: 25px;
    background: none;
    margin: 20px;
    color: white;
}

button:hover{
    height: 100px;
    width: 400px;
    border-radius: 25px;
    background: green;
    margin: 20px;
    color: white;
}

.answer-btn{
    height: 50px;
    width: 400px;
    border-radius: 25px;
    background: none;
    margin: 20px;
    color: white;   
}

.answer-btn:hover{
    height: 50px;
    width: 400px;
    border-radius: 25px;
    background: green;
    margin: 20px;
    color: white;    
}