.battle-top-container{
    display: flex;
    flex-direction: row;
}

h3{
    color: red;
}

.user-sprite{
    flex-grow: 1;
}

.user-sprite img{
    width: 300px;
    height:200px;
}

.user-sprite .player-name{
    margin-left: 15%;
}

.monster-sprite{
    flex-grow: 1;
}

.monster-sprite .monster-name{
    margin-left: 40px;
}

.monster-sprite img{
    width: 200px;
    height:200px;  
}

.move-user {
    transition-duration: 0.5s;
    transform: translateX(530px); /* Equal to translate(10px) */
}